@model IEnumerable<WebApplicationMiTiendaMejorada.Contexto.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.venta_total)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				$@Html.DisplayFor(modelItem => item.venta_total)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.id_ventas }) |
				@Html.ActionLink("Details", "Details", new { id = item.id_ventas }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.id_ventas })
			</td>
		</tr>
	}

	<tr>
		<th>
			<label for="@ViewBag.SumaVentas">$@ViewBag.SumaVentas</label>
		</th>
		<th></th>
	</tr>

</table>
